## Scrap the data of all the users from the rating table

This below code scraps data of each user (participated in recent 6 months) in the below format

x1 = Global Rank</br>
x2 = Country</br>
x3 = Handle</br>
x4 = Games Played</br>
x5 = Ratings</br>

To run this code, one need to create API that can bypass the Codeforce bot checking by Cloudflare. You can use zenrows or other softwares for that which provides free APIs.

### Warning: It may take upto 2 hours to scrap all the 835 pages

In [123]:
import requests
from bs4 import BeautifulSoup
import numpy as np

i=0
n=170000
api = '' # Get the api from any software

x1=np.empty(n, dtype='object')
x2=np.empty(n, dtype='object')
x3=np.empty(n, dtype='object')
x4=np.empty(n, dtype='object')
x5=np.empty(n, dtype='object')
for num in range(1, 2):
    url = f'https://codeforces.com/ratings/page/{num}'
    
    #Create your own api from zenrows.com and paste it in the place of 'api'
    
    apikey = api
    params = {
        'url': url,
        'apikey': apikey,
    }
    response = requests.get('https://api.zenrows.com/v1/', params=params)

    soup = BeautifulSoup(response.text, 'html.parser')
    tables = soup.find_all('table')
    rating_table = tables[5]

    rows = rating_table.find_all('tr')

    rows = rows[1:]
    for row in rows:
        columns = row.find_all('td')
        rank = columns[0].text.strip()
        x1[i] = rank
        imge = columns[1].find('img')
        if(imge):
            cntry = imge.get('title')
        else:
            cntry = 'NA'
        x2[i] = cntry
        x3[i] = columns[1].text.strip()
        x4[i] = columns[2].text.strip()
        x5[i] = columns[3].text.strip()
        if (i<10):
            print(f"{i+1}, Glob_Rank: {x1[i]}, Country: {x2[i]}, Handle: {x3[i]}, Gameplay: {x4[i]}, Rating: {x5[i]}")
        i+=1
    print(num, end=" ") #To check the number of pages visited

1, Glob_Rank: 1, Country: Belarus, Handle: tourist, Gameplay: 282, Rating: 3777
2, Glob_Rank: 2, Country: China, Handle: jiangly, Gameplay: 181, Rating: 3756
3, Glob_Rank: 3, Country: China, Handle: orzdevinwang, Gameplay: 73, Rating: 3696
4, Glob_Rank: 4, Country: China, Handle: Kevin114514, Gameplay: 90, Rating: 3647
5, Glob_Rank: 5, Country: Poland, Handle: Radewoosh, Gameplay: 254, Rating: 3631
6, Glob_Rank: 6, Country: Canada, Handle: ksun48, Gameplay: 295, Rating: 3574
7, Glob_Rank: 7, Country: Japan, Handle: maroonrk, Gameplay: 194, Rating: 3565
8, Glob_Rank: 8, Country: США, Handle: Benq, Gameplay: 161, Rating: 3527
9, Glob_Rank: 9, Country: США, Handle: ecnerwala, Gameplay: 200, Rating: 3526
10, Glob_Rank: 10, Country: United Kingdom, Handle: Um_nik, Gameplay: 299, Rating: 3418
1

In [124]:
import pandas as pd

x = zip(x1, x2, x3, x4, x5)
df = pd.DataFrame(x, columns = ['Global Rank', 'Country', 'Handle', 'Gameplay', 'Ratings'])
df = df.dropna()
df.head(10)

  Global Rank         Country        Handle Gameplay Ratings
0           1         Belarus       tourist      282    3777
1           2           China       jiangly      181    3756
2           3           China  orzdevinwang       73    3696
3           4           China   Kevin114514       90    3647
4           5          Poland     Radewoosh      254    3631
5           6          Canada        ksun48      295    3574
6           7           Japan      maroonrk      194    3565
7           8             США          Benq      161    3527
8           9             США     ecnerwala      200    3526
9          10  United Kingdom        Um_nik      299    3418

In [116]:
df.to_excel('Codeforces_full_data.xlsx', index=False)
df.to_csv('odeforces_full_data.csv', index=False)